h1, h2	{
	text-align: center;
	color: #e68d65;
	font-family: "Arial", sans-serif;
	}
*	{
	background-color: #a1d3e3
	}
body	{
	background-image: url ("https://github.com/BeeMovie3/PooPee/blob/master/Dj6AaejBFA9dlXvL5KhFhXOt8uZe_uEYfET34gsJubM.jpg);
	background-repeat: no-repeat;
	}
